html {
  box-sizing: border-box;
}

body {
  font-family: 'Comfortaa', sans-serif;
  margin: 0;
  background: linear-gradient(135deg, #ffe6f2 0%, #ffd5e8 40%, #fff0f7 100%);
  color: rgb(83, 67, 73);
}

.hero {
  font-family: 'Caveat', cursive;
  background: radial-gradient(circle at top, #fff5fa, #ffdbe9 60%, #fff0f7 100%);
  padding: 130px 20px;
  color: rgb(91, 59, 74);
  text-shadow: 0 1px 8px rgba(255, 255, 255, 0.9);
  text-align: center;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.border {
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
}

h1, h2 {
  color: #c45a85;
  font-weight: 700;
}

p, li {
  color: #6d555f;
  line-height: 1.9;
}

.gallery .photo {
  display: grid;
  gap: 12px;
  max-width: 700px;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  margin: 40px auto;
}

.gallery img {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(2, 1, 1, 0.9);
}

button {
  border: none;
  background: #ff9fc6;
  padding: 12px 28px;
  border-radius: 25px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #ff8ab8;
  transform: scale(1.3)
}

.final {
  background-color: #111;
  text-align: center;
  padding: 80px 20px;
  color: #fff;
}

.final h2 {
  font-size: 2.2rem;
  margin-bottom: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ff9fc6;
}

.final p {
  font-size: 1.1rem;
  max-width: 600px;
  margin: 0 auto 26px;
  line-height: 1,6;
}